@media (max-width: 640px) {
  .filterZone {
    flex-direction: column;

    .dateFiltersContainer {
      margin-right: 0px !important;
    }

    .dropdownContainer,
    .dateFiltersContainer {
      width: 100%;

      .comboBox,
      .peoplePicker,
      .dateSelector {
        width: 100%;
        margin-right: 0px !important
      }

      .tagsList {
        gap: 10px !important;

        .tagButton {
          padding: 5px;
        }
      }
    }
  }
}

.filterZone {
  display: flex;
  gap: 10px;
  flex-flow: wrap;
  padding: 10px 10px 20px 10px;
  // border-color: black;
  box-shadow: "[theme: cardShadow]";
  background-color: #faf9f8;
  align-items: flex-start;

  .dateFiltersContainer {
    //gap: 5px;
    //display: grid;
    //justify-items: flex-start;
    margin-right: 5px;

    .label {
      display: block;
      margin-bottom: 5px;
    }

    .dateSelector {
      display: inline-block;
      margin-right: 5px;
      vertical-align: top;
      
      input[type=text],
      input[type=date] {
        width: 120px;
      }

      input[type=date] {

        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
          opacity: 0;
        }

        &:focus {

          &::-webkit-inner-spin-button,
          &::-webkit-calendar-picker-indicator {
            opacity: 1;
          }
        }
      }

      .tagsList {
        list-style: none;
        margin-top: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 5px;
        max-width: 250px;
  
        .tagButton {
          max-width: 100%;
  
          .tagButtonTxt {
            width: 90%;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .dropdownContainer {
    gap: 5px;
    display: grid;
    justify-items: flex-start;

    input[type=text] {
      width: 100%;
    }

    .label {
      display: block;
    }

    .dateSelector {
      display: inline-block;
    }

    .tagsList {
      list-style: none;
      margin-top: 0;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 5px;
      max-width: 250px;

      .tagButton {
        max-width: 100%;

        .tagButtonTxt {
          width: 90%;
          text-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .removeFilterDiv {
    align-self: flex-end;
  }
}

.optionComboBoxSize {
  span {
    flex: none;
  }
}