.vote {
    min-height: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;

    .voteHeader {
        width: -webkit-fill-available;
        padding: 0 0 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .voteLogo {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 30px;
            border-radius: 100%;
            background-color: #0f6cbd;
        }

        .voteTitle {
            width: -webkit-fill-available;
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #194b8f;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: normal;
        }

        .voteDismissIcon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .voteSubheader {
        width: -webkit-fill-available;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .voteFirstText {
            font-size: 18px;
            line-height: normal;
        }

        .voteSecondText {
            font-size: 18px;
            font-weight: bold;
            line-height: normal;
        }
    }

    .voteSpinner {
        width: -webkit-fill-available;
        padding: 0 10px 20px 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        font-size: 16px;
        flex-grow: 1;
        gap: 10px;
    }

    .voteBody {
        width: -webkit-fill-available;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-grow: 1;

        .voteOptions {
            width: -webkit-fill-available;
            padding: 60px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .voteSelectedMessage {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: normal;
                text-align: center;
                font-size: 16px;
            }

            .voteSingleButtonGreen {
                color: #107c10;
                border: 2px solid #107c10;

                &:hover,
                &.selectedButton {
                    background-color: #deeede;
                    scale: 1.01;
                    border-color: #107c10;
                }
            }

            .voteSingleButtonGrey {
                color: #424242;
                border: 2px solid #424242;

                &:hover,
                &.selectedButton {
                    background-color: #d6d6d6;
                    scale: 1.01;
                    border-color: #424242;
                }
            }

            .voteSingleButtonRed {
                color: #751d1f;
                border: 2px solid #751d1f;

                &:hover,
                &.selectedButton {
                    background-color: #f1bbbc;
                    scale: 1.01;
                    border-color: #751d1f;
                }
            }

            .voteSingleButton {
                min-height: 60px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-size: 18px;
                font-weight: bold;
                border-radius: 20px;

                .voteSingleButtonText {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .voteErrorMessage {
                height: 20px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: red;
                gap: 5px;

                .voteErrorMessageIcon {
                    padding-top: 2px;
                }
            }

            .dimmedButton {
                opacity: 0.5;
            }
        }

        .voteActionButtons {
            width: 100%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .voteActionFirstRow {
                width: 100%;
            }

            .voteActionSecondRow {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }

            .voteActionFirstRow,
            .voteActionSecondRow {
                .voteActionSingleButton {
                    width: 100%;
                }
            }
        }
    }

    .voteBodySecondScreen {
        display: flex;
        justify-content: space-evenly;
        justify-content: space-between;
        flex-grow: 1;

        .voteBodySecondScreenContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;

            .voteErrorMessage {
                height: 20px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: red;
                gap: 5px;

                .voteErrorMessageIcon {
                    padding-top: 2px;
                }
            }
        }
    }

    .voteVotingHasEndedAndYouDidNotVote,
    .voteNoPermission {
        width: -webkit-fill-available;
        padding: 0 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        .voteUserDidNotVoteMessage,
        .voteNoPermissionMessage {
            width: 100%;
            padding: 60px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }

        .voteUserDidNotVoteButtonRow,
        .voteNoPermissionButtonRow {
            width: 100%;
            padding-top: 20px;

            .voteUserDidNotVoteButton,
            .voteNoPermissionButton {
                width: 100%;
            }
        }
    }
}

/* Vista móvil */
@media (max-width: 640px) {

    .vote {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 0;

        .voteHeader {
            .voteTitle {
                padding: 0 5px;
            }
        }

        .voteBody {
            display: flex;
            height: 100%;
            justify-content: space-between;

            .voteOptions {
                .voteSingleButton {
                    font-size: 16px;
                }

                .noAction {
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
        }
    }

}