@import "../Meetings.module.scss";

.agreementsContainer {
    @include column;
    min-height: 0;
    padding: 5px 3px 5px 5px;

    .containerWrapper {
        @include column;
        padding-right: 3px;
        overflow-y: scroll;
        height: 100%;
        gap: 7.5px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--colorNeutralBackground3Hover);
            border-radius: 100px;
        }
    }

    .itemRow {
        @include row;
        border-radius: 4px;
        gap: 5px;
    }

    .bottomButtonRow {
        justify-content: flex-end;
        padding-top: 10px;
        padding-right: 3.5px;
    }

    .itemColumn {
        display: flex;
        flex-direction: column;
    }

    .topPaddingAdjust {
        padding: 5px 0;
    }

    .sidesPaddingAdjust {
        padding: 0 5px 0 10px;
    }

    .orderCounter {
        background-color: var(--colorBrandBackgroundInvertedtestssed);
        color: var(--colorNeutralForeground1);
        font-weight: bold;
    }

    .itemColumnGrow {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }

    .columnBlueBackground {
        background-color: var(--colorBrandBackground2);
        border-radius: 4px;
    }

    .itemTitle {
        font-weight: bold;
    }

    .itemDesc {
        -webkit-line-clamp: unset;
        white-space: test-wrap;
    }

    .inputDesc {
        height: 100px;
    }

    .justifyCenter {
        justify-content: center;
    }

    .justifyEnd {
        justify-content: flex-end;
    }

    .noAgreementsAvailable {
        font-size: medium;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .file {
        --file-background-color-hover: transparent;
        --file-type-icon-height: 25px;
        --file-padding-inline-start: 12px;
    }
}